<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-800 text-white min-h-screen w-screen">
    <div class="p-10 flex justify-center items-center flex-col">
      <form action="/login" method="post">
        <div class="mb-10">
          <label
            for="website-admin"
            class="block mb-2.5 text-sm font-medium text-heading"
            >Username</label
          >
          <div class="flex shadow-xs rounded-base">
            <span
              class="inline-flex items-center px-3 text-sm text-body bg-neutral-tertiary border rounded-e-0 border-default-medium border-e-0 rounded-s-base"
            >
              <i class="ri-user-line"></i>
            </span>

            <input
              type="text"
              id="website-admin"
              class="rounded-none rounded-e-base block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base text-black placeholder:text-black"
              placeholder="Enter Your Username"
            />
          </div>
        </div>

        <div class="mb-10">
          <label
            for="Password"
            class="block mb-2.5 text-sm font-medium text-heading"
            >Password</label
          >
          <div class="flex shadow-xs rounded-base">
            <span
              class="inline-flex items-center px-3 text-sm text-body bg-neutral-tertiary border rounded-e-0 border-default-medium border-e-0 rounded-s-base"
            >
              <i class="ri-lock-2-line"></i>
            </span>
            <input
              type="text"
              id="Password"
              class="rounded-none rounded-e-base block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base text-black placeholder:text-black"
              placeholder="********"
            />
          </div>
        </div>
        <div class="mb-15 mt-10">
          <button
            type="submit"
            class="border-4 rounded-4xl text-white mx-20 h-15 w-40"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  </body>
</html>
